/* colors */

$color-dark: #191919;
$color-light: #fff;
$color-main: #ff9a38;
$color-neutral: #7fbfca;
$color-danger: #e55039;
$color-success: #59b66d;
$color-bkg: #f4f4f1;
$color-text: #cacaca;

/*fonts*/
$logo: 'Satisfy', cursive;
$brand-font: "Open Sans", Helvetica, Arial;
$default-font: 'Roboto', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$base-size: 16px;


/* Helpers */


/* Animation */
$transition: all .3s;
$radius: 4px;
